body {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Lobster', cursive;
}



.toast {
    position: relative;
    margin-left: 350px;
    margin-top: -160px;
}

.choose-btn {
    background-color: antiquewhite;
    border: none;
}

.badge {
    right: 430px;
}


@media only screen and (max-width: 768px) and (min-width: 350px) {
    .carousel-item img {
        height: 500px;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

}